* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    margin: 47px 0 177px 42px;
}

.link-header {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.875px;
    color: #17233D;
    margin-right: 32px;
    cursor: pointer;
}

button {
    width: 124px;
    height: 51px;
    border-radius: 8px;
    border: none;
    background: #6FBF44;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    cursor: pointer
}

img {
    display: inline-block;
    width: 596px;
    height: 500px;
    margin-left: 121px;
}

section {
    display: inline-block;
    margin-left: 85px;
}

h1 {
    width: 582px;
    height: 164px;
    margin-bottom: 47px;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.5px;
    color: #161A49;
    
}

p {
    width: 493px;
    height: 99px;
    margin-bottom: 55px;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
}

a {
    width: 112px;
    height: 27px;
    margin-bottom: 114px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    cursor: pointer;
}

@media screen and (max-width: 128560px) {
    header {
        margin: 25px 0 80px 42px;;
    }

    img {
        display: inline-block;
        width: 590px;
        height: 460px;
        margin-left: 121px;
    }

    h1 {
        margin-bottom: 35px;
    }

    p {
        margin-bottom: 35px;
        
    }

    section {
        margin-top: 10px;
    }
}

@media screen and (max-width: 900px) {
    header {
        margin: 95px 0 81px 124px;
        position: relative;
        left: 120%;
    }
    
    .link-header {
        display: none
    }

    button {
        width: 241px;
        height: 80px;
        font-size: 31px;
        letter-spacing: 3px;
    }

    img {
        display: inline-block;
        width: 714px;
        height: 630px;
        margin-left: 121px;
        position: absolute;
        top: 131%;
    }

    section {
        display: block;
        position: absolute;
        top: 37%;
        margin-left: 197px;
    }

    h1 {
        margin-bottom: 48px;
        text-align: center;
        font-size: 74px;

    }

    p {
        text-align: center;
        margin: 0px auto 95px;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 1.5px;
        margin-bottom: 201px;

    }

    a {
        font-size: 38px;
        margin-left: 173px;
    }
}

@media screen and (max-width: 844px) {
    section {
        margin-left: 163px
    }

    img {
        margin-left: 98px;
    }
}

@media screen and (max-width: 667px) {
    header {
        margin: 50px 0px 81px 110px;
        left: 120%;
    }

    button {
        width: 236px;
        height: 71px;
        font-size: 29px;
    }

    img {
        width: 621px;
        height: 590px;
        margin-left: 113px;
        top: 121%;
    }

    section {
        top: 33%;
        margin-left: 140px;
    }

    h1 {
        margin-bottom: 5px;
        font-size: 55px;
        line-height: 60px;
    }

    p {
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0.5px;
    }

}
